.detailsSection {
  background-color: #fafafa;
  max-width: 1280px;
  border: 1px solid #d6d6d6;
  border-radius: 12px 12px 0 0;
  padding: 32px 32px 0 32px;
  margin-top: 32px;
}

.detailsSection h2 {
  padding: 0;
  margin-top: 32px;
  margin-bottom: 0;
}

.cardsRow {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 16px;
  margin-bottom: 16px;
}

.chartAndTable {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

@media (max-width: 768px) {
  .chartAndTable {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .detailsSection {
    padding: 16px 16px 0;
  }
}
