.header {
  display: flex;
  height: 72px;
  border-bottom: 1px solid #c0c0c0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 32px;
}
.link {
  text-decoration: none;
  color: inherit;
}

.logoutButton {
  display: flex;
  width: 140px;
  height: 48px;
  padding-inline: 16px;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #fae4d4;
  border-radius: 10px;
  color: #fff;
  background-image: var(--gradient-primary);
}

.logoutText {
  margin-left: -2px;
}

.logo {
  display: flex;
  height: 36px;
  align-items: center;
  gap: 12px;
}

.ul {
  display: flex;
  list-style: none;
}

.a {
  text-decoration: none;
  color: inherit;
}

.li {
  padding-inline: 16px;
}

.title {
  font-weight: 500;
}

.divider {
  margin-inline: 12px;
  width: 1px;
  height: 48px;
  background: #fff;
}
