.header {
  display: flex;
  height: 72px;
  border-bottom: 1px solid gray;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 32px;
}

.ul {
  display: flex;
  list-style: none;
}

.a {
  text-decoration: none;
  color: inherit;
}

.li {
  padding-inline: 16px;
}
